[submodule "themes/hugo"]
	path = themes/hugo
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "themes/hugooo"]
	path = themes/hugooo
	url = https://github.com/Luis-Salinas-SD/hugoo.git
